
@{
    ViewBag.Title = "Index";
}

<div class="main-section top-section" id="Top">
    <div class="container container_upperbuttons w-container">
        <div class="diveblock">
            <div class="staticpagelabeltext">Roster</div>
        </div><a class="button_upper button_upperleft gray-button w-button" href="#">Playbook</a>
        <div class="div_teamlogo_right w-clearfix">
            <img class="image2" height="56" src="~/Content/images/whs-logo.png">
        </div>
    </div>
</div>
<div class="main-section">
    <div class="container w-container">
        <div class="div-block-info divblock_topheading w-clearfix">
            <a class="div_add_button editimagswap w-inline-block" href="#">
                <img class="image-5" src="~/Content/images/Icon_AddUser_Transparent-01.svg" width="75">
            </a>
            <h4 class="containerheading">Westlake High School</h4><img class="longredline" src="~/Content/images/Line_02_Med.svg">
        </div>
        <div class="div-block-info divblock_info">
            <div class="row_a_normal w-row">
                <div class="w-col w-col-3">
                    <div class="texttitle">Account Owner</div>
                    <div class="textdescription">Kirksey, Tim</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Email</div>
                    <div class="textdescription">timkirksey@yahoo.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Phone</div>
                    <div class="textdescription">(555) 555-5555</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Account Representative</div>
                    <div class="textdescription">Robinson, Jason</div>
                </div>
            </div>
            <div class="row5items row_b_gradient w-row">
                <div class="w-col w-col-3">
                    <div class="texttitle">Street Address</div>
                    <div class="textdescription">100 Lakeview Canyon Rd</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">City</div>
                    <div class="textdescription">Thousand Oaks</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">State</div>
                    <div class="textdescription">California</div>
                </div>
                <div class="w-col w-col-2">
                    <div class="texttitle">Country</div>
                    <div class="textdescription">USA</div>
                </div>
                <div class="w-col w-col-1">
                    <div class="texttitle">Zip Code</div>
                    <div class="textdescription">91362</div>
                </div>
            </div>
            <div class="row_a_normal w-row">
                <div class="w-col w-col-3">
                    <div class="texttitle">Access Code</div>
                    <div class="textdescription">#######</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Subccription Date</div>
                    <div class="textdescription">4/15/2017</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Subscription Package</div>
                    <div class="textdescription">2 YR, 50 Manual Plays</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Payment Status</div>
                    <div class="textdescription">Paid in full: $2,750</div>
                </div>
            </div>
            <div class="row5items row_b_gradient w-row">
                <div class="w-col w-col-3">
                    <div class="texttitle">Field Size</div>
                    <div class="textdescription">High School</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">League/division/conference</div>
                    <div class="textdescription">Marmonte League, Division2</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Language</div>
                    <div class="textdescription">English</div>
                </div>
                <div class="w-col w-col-2">
                    <div class="texttitle">Total Plays</div>
                    <div class="textdescription">36</div>
                </div>
                <div class="w-col w-col-1">
                    <div class="texttitle">Roster</div>
                    <div class="textdescription">40</div>
                </div>
            </div>
            <div class="row_a_normal w-row">
                <div class="w-col w-col-3">
                    <div class="texttitle">Security Tickets</div>
                    <div class="textdescription">0</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Support Tickets</div>
                    <div class="textdescription">0</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Archived Packages</div>
                    <div class="textdescription">N/A</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Account Status</div>
                    <div class="textdescription">Active</div>
                </div>
            </div>
        </div>
        <div>
            <div class="texttitle">Notes:</div>
            <div class="div_notes">
                <div class="textdescription">Westlake High School Football team will be the account where we test new features and will be featured in Playbook Five Marketing materials.</div>
            </div>
        </div>
    </div>
</div>
<div class="main-section">
    <div class="container w-container">
        <a class="addbutton div_add_button editimagswap w-inline-block" href="#">
            <img class="image-4" src="~/Content/images/Icon_AddUser_Transparent-01.svg" width="64">
        </a>
        <div class="div-block-info divblock_topheading">
            <h4 class="containerheading">Roster</h4><img class="longredline" src="~/Content/images/Line_02_Med.svg">
        </div>
        <div class="div-block-info divblock_info">
            <div class="row_a_normal w-row">
                <div class="column w-col w-col-3">
                    <div class="text_rosterhistory textdescription">History</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Name</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">Email</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="texttitle">User Type</div>
                </div>
            </div><img class="longredline" src="~/Content/images/Line_02_Med.svg">
            <div class="row_b_gradient row_topunderredlineonly w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">1</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Kirksey, Tim</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">timkirksey@yahoo.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Head Coach</div>
                </div>
            </div>
            <div class="row_a_normal w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">2</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Last Name, Bill</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">username@email.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Coach</div>
                </div>
            </div>
            <div class="row_b_gradient w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">3</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Last Name, First</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">username@email.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Player</div>
                </div>
            </div>
            <div class="row_a_normal w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">4</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Last Name, First</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">username@email.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Player</div>
                </div>
            </div>
            <div class="row_b_gradient w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">5</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Last Name, First</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">username@email.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Player</div>
                </div>
            </div>
            <div class="row_a_normal w-row">
                <div class="w-col w-col-1">
                    <div class="textdescription">6</div>
                </div>
                <div class="w-col w-col-2">
                    <a class="linktext_view" href="#">VIEW</a>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Last Name, First</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">username@email.com</div>
                </div>
                <div class="w-col w-col-3">
                    <div class="textdescription">Player</div>
                </div>
            </div>
        </div>
    </div>
</div>

